<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head th:replace="admin :: head">

</head>
<body>
<div id="mainPage" data-role="page">
	<div th:replace="index :: header" >
	</div>

	<div>
		<div th:replace="tema :: temaFragment"></div>
	</div>
	<div id="itemEdit" hidden>
		<div class="centro_cuadro">
			<div class="itemEditable">
				<label for="subtemaEditTitulo"> Titulo</label>
				<input id="subtemaEditTitulo" name=subtemaEditTitulo" th:value="${subtema.titulo}"></input>
			</div>

			<div class="itemEditable">
				<label for="subtemaEditOrden">Orden</label>
				<input id="subtemaEditOrden" type="number" name=subtemaEditOrden" th:value="${subtema.orden}"></input>
			</div>


			<div class="itemEditable ui-field-contain">
				<p class="oculto showInPaste">Comprobar tema asociado:<span  id="filter-menu_paste"></span></p>
				<label for="filter-menu">Tema asociado</label>
				<select id="filter-menu" data-native-menu="false">
					<option th:if="${tema == null}"  selected='selected'>---</option>
					<option th:if="${tema != null}" >---</option>
					<option th:each="eltema : ${temas}" th:if="${eltema.id == tema.id}" th:value="${eltema.id}" selected='selected' th:utext="${eltema.nombre}"></option>
					<option th:each="eltema : ${temas}" th:if="${eltema.id != tema.id}" th:value="${eltema.id}" th:utext="${eltema.nombre}"></option>
				</select>
			</div>





			<div class="ui-corner-all custom-corners">
				<div class="ui-bar ui-bar-a">
					<h3>Items relacionados</h3>
				</div>
					<p class="oculto showInPaste">Los items asociados en origen son:<span  id="items_table_paste"></span></p>
				<div class="ui-body ui-body-a">
					<table class="table notInJSONPaste" data-filtering="true" data-paging="true" data-sorting="true" data-paging-count-format="{CP} de {TP}"
						   id="items_table">

					</table>
				</div>
			</div>
		</div>
	</div>



	<div data-role="popup" id="addItem" data-overlay-theme="b"
		 style="background: white;">
		<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
		<div role="main" class="ui-content">
			<h3 class="ui-title">
				Selecciona el item a añadir
			</h3>
			<table class="table " data-filtering="true" data-paging="true" data-sorting="true" data-paging-count-format="{CP} de {TP}"
				   id="all_items">
			</table>
		</div>
	</div>
	<div data-role="popup" id="editOrdenItem" data-overlay-theme="b"
	 style="background: white;">
	<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
	<div role="main" class="ui-content">

	<div class="itemEditable">
				<label for="orden">Orden</label>
				<input type="number" id="orden"></input>
				
			</div>
		<a href="#" class="ui-btn ui-corner-all" onclick="guardarOrden()" style="background:#0071bc; color:#FFF">Guardar</a>
	</div>
</div>
	<div th:replace="adminAtlas :: barraEdicion" >
	</div>
</div>


<script th:src="@{/resources/js/adminSubtema.js}"></script>

<script th:inline="javascript">
/*<![CDATA[*/
	var contextPath = /*[[${contextPath}]]*/;
	subtema = /*[[${subtema}]]*/ ;

    subtema.items = /*[[${items}]]*/ ;
    subtema.tema = JSON.parse(/*[[${tema?.toString()}]]*/) ;
    subtema.etiqueta_atlas =  /*[[${atlas.etiqueta}]]*/;

	 nuevo =  /*[[${nuevo}]]*/;
	 if (nuevo){
			subtema.id=null;
		}
/*]]>*/

	init();
</script>

<script>
	$(document).ready(function() {
		testLoginCookieIGEAR('hasAdminRol()', 'goToInicio()');
	});
</script>

</body>
</html>