<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head  th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<title>IDEAragon &#62; Aplicaciones &#62; Atlas de Aragón</title>
	<link rel="shortcut icon" href="/lib/IDEAragon/themes/default/images/i/favicon.ico"	type="image/x-icon"></link>
	<meta name="dcterms.creator" content="GOBIERNO DE ARAGON"></meta>
	<meta name="geo.placename" content="Zaragoza, Spain"></meta>
	<meta name="keywords" content="Atlas, Aragón, Geografía, Cartografía, Mapa, Documento, Informativo, Territorial, Parque, Paisaje, Dominios, Sendero, Turismo, Riesgo, Susceptibilidad, Colapso, Deslizamiento, Inundación, Viento, Precipitación, Lluvia, Temperatura, Radiación, Evapotranspiración, Balance, Aridez, Cuenca, Masía, Porcino, Bovino, Ovino, Caprino, Aves, Plataforma, Logística, Polígono, Central, Térmica, Eólica, Camping, Balneario, Refugio, Montaña, Estación, Esquí, Hostal, Alojamiento, Hotel, Albergue, Turismo, Apartamento, Canal, Regadío, Secano, Lonja, Comercio, DOP, VAB, Infantil, Primaria, Secundaria, Bachillerato, Hospital, Lluvia, Insolación, Evaporación, Salario, Pensión, Desempleo, Impuesto, Bien, Inmueble, Ingreso, Gasto, Actividad, Empleo, Paro, Afiliación, Seguridad, Social, Accidente, Trabajo, Dependencia, Contrato, Fianza, Alquiler, Vivienda, Local, Deuda, Viva, Masculinidad, Potencialidad, Reemplazamiento, Sobreenvejecimiento, Vejez, Envejecimiento, Juventud, Agricultura, Ganadería, Medioambiente, Medio, Ambiente, Uso, Suelo, Figura, Urbanismo, Urbana, Rústica, Planeamiento, Directriz, Ordenación, Territorio, Transporte, Región, Sector, Instalación, Sanidad, Educación, Comercio, Salud, Bien, Interés, Centro, Industria, Energía, Mina, Explotación, Agropecuaria, Red, Río, Hidrografía, Embalse, Pantano, Lago, Laguna, Árbol, Singular, Entidad, Núcleo, Demografía, Nacimiento, Defunción, Natalidad, Mortalidad, Juventud, Feminidad, Extranjero, Inmigración, Emigración, Paro, Residencia, Población, Habitante, Municipio, Comarca, Provincia, Migración, Saldo, Forestal, CLC, Corine, Land, Cover, Justicia, Religión, Diocésis, Archidiócesis, Caza, Pesca, Vía, Pecuaria, Especie, Amenazada, Humedal, LIC, LIG, ZEPA, Parque, Nacional, Natural, Clima, Climatología, Ebro, Pirineos, Sistema, Ibérico, Carretera, Ferrocarril, BIC, Yacimiento, Arqueología, Patrimonio, Cultura, Estación, Aeropuerto, Descarga, Visualización, Incendio, Límite, Actividad, Económica, Equipamiento, Pendiente, Orientación, Sismicidad, Fallas, Radiación, Altitud, OCAS, Isócrona, Infantil, Primaria, Secundaria, Bachillerato, Hospital, Infraestructura, Dato, Espacial, IDE"></meta>
	<meta name="dcterms.title" content="Atlas de IDEAragon: Infraestructura de Datos Espaciales de Aragon"></meta>
	<meta name="description" content="Atlas de IDEAragon: Infraestructura de Datos Espaciales de Aragon"></meta>
	<meta name="dcterms.extent" content="global"></meta>
	<meta name="dcterms.type" content="Document"></meta>
	<meta name="robots" content="all" />
	<meta name="revisit-after" content="3 days"></meta>
	<meta name="designer" content="Idearium Consultores SL - www.idearium-consultores.com"></meta>
	<meta name="author" content="© Gobierno de Arag&oacute;n - www.aragon.es"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>



	<link rel="stylesheet" href="/lib/font-awesome/fontawesome-free-5.9.0-web/css/all.css"></link>
	<link rel="stylesheet" type="text/css" href="/portal/styles/idearagon.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/app.css}" href="resources/themes/default/app.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/header.css}" href="resources/themes/default/header.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/footer.css}" href="resources/themes/default/footer.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/tema.css}" href="resources/themes/default/tema.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/admin.css}" href="resources/themes/default/admin.css"></link>
	<link rel="stylesheet" href="/lib/jquery/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/lib/footable/css/footable.standalone.min.css"></link>


	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-107379398-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-107379398-4');
	</script>

	<script src="https://cdn.tiny.cloud/1/lty283up2im4slk7qmkln884h0j4dpexx0iudwque0jgyyr4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	
	<script src="/lib/jquery/jquery_1.12.4.min.js"></script>
	<script src="/lib/jquery/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>

	<script src="/lib/jquery/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="/lib/jquery/jquery.ui.touch-punch.min.js"></script>
	
	<script type="text/javascript" src="/lib/footable/js/footable.min.js"></script>
		
	<script src="/lib/cookies.js"></script>
	<script src="/lib/IDEAragon/js/userControl.js"></script>
	
	<script th:src="@{/resources/js/admin.js}" ></script>
	
	<link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'></link>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
</head>
<body>
	<div id="mainPage" data-role="page">
		<div th:replace="index :: header" >
		</div>

		<div id="content" >
			<div class="centro_cuadro">
				<div data-role="tabs">
					<div data-role="navbar">
						<ul id="tabs">
							<li><a href="#fragment-atlas" class="ui-btn-active ui-state-persist">Atlas</a></li>
							<li><a id="tabTemas" href="#fragment-temas">Temas y Subtemas</a></li>
							<li><a id="tabItems" href="#fragment-items">Items</a></li>
						</ul>
					</div>
					<div id="fragment-atlas">
							<table class="table" id="atlas_table" data-filtering="true" data-paging="true" data-sorting="true" data-paging-count-format="{CP} de {TP}">
								<thead>
								<tr>
									<th data-name="id" data-visible="false">ID</th>
									<th data-name="titulo">Titulo</th>
									<th data-name="etiqueta">Etiqueta</th>
									<th data-formatter="formatter" data-name="sabias-que">Sabías que</th>
									<th data-name="num_temas">Nº temas</th>
								</tr>
								</thead>
								<tbody>
									<tr th:each="atl : ${atlas}" >
										<td th:text="${atl.id}">1</td>
										<td th:text="${atl.titulo}">Atlas de Aragón</td>
										<td th:text="${atl.etiqueta}">Etiqueta</td>
										<td th:text="${sabiasQueHashMap.get(atl.id).size()}">0</td>
										<td th:text="${atl.temas.size()}"></td>
									</tr>
								</tbody>
							</table>


						<div th:each="atl : ${atlas}" th:if="${sabiasQueHashMap.get(atl.id).size()>0}" class="sabiasQue" th:id="'sabiasQueAtlasDiv-'+${atl.id}" hidden>
							<h2 th:text="'Sabías que del '+${atl.titulo}"></h2>
							<table class="table sabiasQue" th:id="'sabiasQueAtlas-'+${atl.id}" data-paging="true" data-sorting="true" data-paging-count-format="{CP} de {TP}">
								<thead>
								<tr>
									<th data-name="item">Item</th>
									<th data-name="sabias_que">Sabías que</th>
								</tr>
								</thead>

								<tbody>
								<tr th:each="sabiasQue : ${sabiasQueHashMap.get(atl.id)}" >
									<td th:text="${sabiasQue.id_item.titulo}"></td>
									<td th:text="'¿Sabías que '+${sabiasQue.txt}"></td>
								</tr>
								</tbody>
							</table>
						</div>




					</div>
					<div id="fragment-temas">

						<form id="flipswitchWrapper">
							<select id="flip" data-role="flipswitch" data-wrapper-class="customFlipswitch">
								<option value="Temas" th:selected="${flipSwitch==null}">Temas</option>
								<option value="Subtemas"  th:selected="${flipSwitch=='Subtemas'}">Subtemas</option>
							</select>
						</form>

						<div id="temas" th:classappend="(${flipSwitch==null} ? show : oculto )">
							<table class="table" id="temas_table" data-filtering="true" data-paging="true" data-sorting="true" data-paging-count-format="{CP} de {TP}">
								<thead>
								<tr>
									<th data-name="id" data-visible="false">ID</th>
									<th data-name="nombre">Nombre</th>
									<th data-name="num_atlas">Nº atlas</th>
									<th data-name="num_subtemas">Nº subtemas</th>

								</tr>
								</thead>
								<tbody>
								<tr th:each="tema : ${temas}" >
									<td th:text="${tema.id}">1</td>
									<td th:text="${tema.nombre}">Atlas de Aragón</td>
									<td th:text="${tema.atlas.size()}"></td>
									<td th:text="${tema.subtemas.size()}"></td>
								</tr>
								</tbody>
							</table>
						</div>

						<div id="subtemas" th:classappend="(${flipSwitch=='Subtemas'} ? show : oculto )">
							<table class="table" id="subtemas_table" data-filtering="true" data-paging="true" data-sorting="true" data-paging-count-format="{CP} de {TP}">
								<thead>
								<tr>
									<th data-name="id" data-visible="false">ID</th>
									<th data-name="titulo">Titulo</th>
									<th data-name="Tema">Tema</th>
									<th data-name="num_items">Nº items</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="subtema : ${subtemas}" >
									<td th:text="${subtema.id}">1</td>
									<td th:text="${subtema.titulo}">Atlas de Aragón</td>
									<td th:if="${subtema.tema}!=null" th:text="${subtema.tema.nombre}">Atlas de Aragón</td>
									<td th:if="${subtema.tema}==null"></td>
									<td  th:text="${subtema.items.size()}"></td>
								</tr>
								</tbody>
							</table>
						</div>

					</div>
					<div id="fragment-items">
						<table class="table" id="items_table" data-filtering="true" data-paging="true" data-sorting="true" data-paging-count-format="{CP} de {TP}">
							<thead>
							<tr>
								<th data-name="id" data-visible="false">ID</th>
								<th data-name="titulo">Titulo</th>
								<th data-name="num_subtemas">Nº subtemas</th>
								<th data-name="num_datos">Nº datos</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="item : ${items}" >
								<td th:text="${item.id}">1</td>
								<td th:text="${item.titulo}">Atlas de Aragón</td>
								<td th:text="${item.num_subtemas}"></td>
								<td th:text="${item.num_datos}"></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>



	</div>

	<div id="removeDialog" data-role="dialog" >
		<div data-role="header">
			<h1 id="removeDialogTitle" class="dialogTitle">Borrar Atlas</h1>
		</div>
		<div data-role="content" class="dialogContent">
			<p id="removeDialogText">¿Está seguro de que quiere borrar el atlas?</p>
			<a id="removeDialogButton" data-role="button">Sí</a>
			<a data-role="button" onclick="cerrarDialog()">No</a>
		</div>
	</div>

	<script th:inline="javascript">
	var contextPath = /*[[${contextPath}]]*/;
	var activeTab = /*[[${activeTab}]]*/;
	</script>
	<script>

		var initialized = [];

		var tabs;


		var atlas_table = FooTable.init('#atlas_table', {
		editing: {
			alwaysShow: true,
			enabled: true,
			addRow: function(){
				location.href=contextPath+'/admin/atlas/nuevo'
			},
			editRow: function(row){
				location.href=contextPath+'/admin/atlas/'+row.value.etiqueta+'/'
			},
			deleteRow: function(row){
				abrirDialog("Borrar Atlas","¿Está seguro de que quiere borrar "+row.value.titulo+"?",function(){
					$.ajax({
						url:  contextPath+"/admin/atlas/"+row.value.id+"?token="+tokenId,
						processData: false,
						contentType: 'application/json',
						type: 'DELETE',
						success: function(data){
							row.delete();
						},
						error: function(error){
							console.log(error);
							alert("No se ha podido borrar el atlas ("+error+")");
						}
					});
					cerrarDialog();
				});
			},
			showText: '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar',
			hideText: 'Cancelar',
			addText: 'Añadir atlas'
		}
		});


		var items_table = FooTable.init('#items_table', {
		editing: {
			alwaysShow: true,
			enabled: true,
			allowView: true,
			viewRow: function(row){
				location.href=contextPath+'/admin/item/copia/'+row.value.id+'/';
			},
			addRow: function(){
				location.href=contextPath+'/admin/item/nuevo';
			},
			editRow: function(row){
				location.href=contextPath+'/admin/item/'+row.value.id+'/';
			},
			deleteRow: function(row){
				abrirDialog("Borrar Item","¿Está seguro de que quiere borrar "+row.value.titulo+"?",function(){
					$.ajax({
						url:  contextPath+'/admin/item/'+row.value.id+"?token="+tokenId,
						processData: false,
						contentType: 'application/json',
						type: 'DELETE',
						success: function(data){
							row.delete();
						},
						error: function(error){
							console.log(error);
							alert("No se ha podido borrar el item ("+error+")");
						}
					});
					cerrarDialog();
				});
			},
			showText: '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar',
			hideText: 'Cancelar',
			addText: 'Añadir item'
		}
		});


		var temas_table = FooTable.init('#temas_table', {
		editing: {
			alwaysShow: true,
			enabled: true,
			addRow: function(){
				location.href=contextPath+'/admin/tema/nuevo'
			},
			editRow: function(row){
				location.href=contextPath+'/admin/tema/'+row.value.id+'/'
			},
			deleteRow: function(row){
				abrirDialog("Borrar Tema","¿Está seguro de que quiere borrar "+row.value.nombre+"?",function(){
					$.ajax({
						url:  contextPath+"/admin/tema/"+row.value.id+"?token="+tokenId,
						processData: false,
						contentType: 'application/json',
						type: 'DELETE',
						success: function(data){
							row.delete();
						},
						error: function(error){
							alert("No se ha podido borrar el tema ("+error+")");
							console.log(error)
						}
					});
					cerrarDialog();
				});
			},
			showText: '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar',
			hideText: 'Cancelar',
			addText: 'Añadir tema'
		}
		});


		var subtemas_table = FooTable.init('#subtemas_table', {
		editing: {
			alwaysShow: true,
			enabled: true,
			addRow: function(){
				location.href=contextPath+'/admin/subtema/nuevo'
			},
			editRow: function(row){
				location.href=contextPath+'/admin/subtema/'+row.value.id+'/'
			},
			deleteRow: function(row){
				abrirDialog("Borrar Subtema","¿Está seguro de que quiere borrar "+row.value.titulo+"?",function(){
					$.ajax({
						url:  contextPath+"/admin/subtema/"+row.value.id+"?token="+tokenId,
						processData: false,
						contentType: 'application/json',
						type: 'DELETE',
						success: function(data){
							row.delete();
						},
						error: function(error){
							alert("No se ha podido borrar el subtema ("+error+")");
							console.log(error);
						}
					});
					cerrarDialog();
				});
			},
			showText: '<span class="fooicon fooicon-pencil" aria-hidden="true"></span> Editar',
			hideText: 'Cancelar',
			addText: 'Añadir subtema'
		}
		});


		function flipChanged(e) {
			if(this.value == "Subtemas"){
				$("#subtemas").removeClass("oculto");
				$("#temas").addClass("oculto");
			}else{
				$("#temas").removeClass("oculto");
				$("#subtemas").addClass("oculto");
			}
		}

		function abrirDialog(titulo, texto, funcion){
			$("#removeDialogTitle").html(titulo);
			$("#removeDialogText").html(texto);
			$("#removeDialogButton").unbind('click');
			$("#removeDialogButton").on('click', funcion);
			$.mobile.changePage("#removeDialog",{changeHash: false});
		}

		function cerrarDialog(){
			$.mobile.changePage("#mainPage",{changeHash: false});
		}

		function formatter(value, options, rowData){
			return "<a onclick=\"mostrarSabiasQue("+rowData.id+")\">"+value+"</a>";
		}

		function mostrarSabiasQue(id){
			$(".sabiasQue").hide();


			$("#sabiasQueAtlasDiv-"+id).show();
			if(!initialized.includes(id)){
				FooTable.init('#sabiasQueAtlas-'+id, {});
				initialized.push(id);
			}
		}

	</script>

	<script>

		$(document).ready(function() {
			testLoginCookieIGEAR('hasAdminRol()', 'goToInicio()');
			if (activeTab){
				$('#'+activeTab).trigger('click');
			}
			$("#flip").on("change", flipChanged);
		});
	</script>

</body>
</html>
