<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
	<title>IDEAragon &#62; Aplicaciones &#62; Atlas de Aragón</title>
	<link rel="shortcut icon" href="/lib/IDEAragon/themes/default/images/i/favicon.ico"	type="image/x-icon" ></link>
	<meta name="dcterms.creator" content="GOBIERNO DE ARAGON" ></meta>
	<meta name="geo.placename" content="Zaragoza, Spain" ></meta>
	<meta name="keywords" content="Atlas, Aragón, Geografía, Cartografía, Mapa, Documento, Informativo, Territorial, Parque, Paisaje, Dominios, Sendero, Turismo, Riesgo, Susceptibilidad, Colapso, Deslizamiento, Inundación, Viento, Precipitación, Lluvia, Temperatura, Radiación, Evapotranspiración, Balance, Aridez, Cuenca, Masía, Porcino, Bovino, Ovino, Caprino, Aves, Plataforma, Logística, Polígono, Central, Térmica, Eólica, Camping, Balneario, Refugio, Montaña, Estación, Esquí, Hostal, Alojamiento, Hotel, Albergue, Turismo, Apartamento, Canal, Regadío, Secano, Lonja, Comercio, DOP, VAB, Infantil, Primaria, Secundaria, Bachillerato, Hospital, Lluvia, Insolación, Evaporación, Salario, Pensión, Desempleo, Impuesto, Bien, Inmueble, Ingreso, Gasto, Actividad, Empleo, Paro, Afiliación, Seguridad, Social, Accidente, Trabajo, Dependencia, Contrato, Fianza, Alquiler, Vivienda, Local, Deuda, Viva, Masculinidad, Potencialidad, Reemplazamiento, Sobreenvejecimiento, Vejez, Envejecimiento, Juventud, Agricultura, Ganadería, Medioambiente, Medio, Ambiente, Uso, Suelo, Figura, Urbanismo, Urbana, Rústica, Planeamiento, Directriz, Ordenación, Territorio, Transporte, Región, Sector, Instalación, Sanidad, Educación, Comercio, Salud, Bien, Interés, Centro, Industria, Energía, Mina, Explotación, Agropecuaria, Red, Río, Hidrografía, Embalse, Pantano, Lago, Laguna, Árbol, Singular, Entidad, Núcleo, Demografía, Nacimiento, Defunción, Natalidad, Mortalidad, Juventud, Feminidad, Extranjero, Inmigración, Emigración, Paro, Residencia, Población, Habitante, Municipio, Comarca, Provincia, Migración, Saldo, Forestal, CLC, Corine, Land, Cover, Justicia, Religión, Diocésis, Archidiócesis, Caza, Pesca, Vía, Pecuaria, Especie, Amenazada, Humedal, LIC, LIG, ZEPA, Parque, Nacional, Natural, Clima, Climatología, Ebro, Pirineos, Sistema, Ibérico, Carretera, Ferrocarril, BIC, Yacimiento, Arqueología, Patrimonio, Cultura, Estación, Aeropuerto, Descarga, Visualización, Incendio, Límite, Actividad, Económica, Equipamiento, Pendiente, Orientación, Sismicidad, Fallas, Radiación, Altitud, OCAS, Isócrona, Infantil, Primaria, Secundaria, Bachillerato, Hospital, Infraestructura, Dato, Espacial, IDE" ></meta>
	<meta name="dcterms.title" content="Atlas de IDEAragon: Infraestructura de Datos Espaciales de Aragon" ></meta>
	<meta name="description" content="Atlas de IDEAragon: Infraestructura de Datos Espaciales de Aragon" ></meta>
	<meta name="dcterms.extent" content="global" ></meta>
	<meta name="dcterms.type" content="Document" ></meta>
	<meta name="robots" content="all" />
	<meta name="revisit-after" content="3 days" ></meta>
	<meta name="designer" content="Idearium Consultores SL - www.idearium-consultores.com" ></meta>
	<meta name="author" content="© Gobierno de Arag&oacute;n - www.aragon.es" ></meta>

	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

	<link rel="stylesheet" href="/lib/font-awesome/fontawesome-free-5.9.0-web/css/all.css"></link>
	<link rel="stylesheet" type="text/css" href="/lib/footable/css/footable.standalone.min.css"></link>
	<link rel="stylesheet" type="text/css" href="/portal/styles/idearagon.css"></link>

	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/app.css}" href="resources/themes/default/app.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/header.css}" href="resources/themes/default/header.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/footer.css}" href="resources/themes/default/footer.css"></link>

	<link rel="stylesheet" href="/lib/jquery/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css"></link>

	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107379398-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-107379398-4');
	</script>

	<link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="visorLoadingOverlay" style="background-image:url(img/hidden.png);width:100%;height:100%;">
	<div id="loading"><img id="loadingGif" border="0"
						   src="/lib/IDEAragon/themes/default/images/loading.gif" alt="Cargando" title="Cargando"></img></div>
</div>
	<div id="mainPage" data-role="page">
		<div th:replace="index :: header" >
		</div>

		<div id="content" >
			<div class="centro_cuadro">
				<div class="tema-destacado">
					<i th:class="${tema.icono}"></i><!--<div class="item-tema" id="temaNombre" th:text="${tema.nombre}"></div>-->
				</div>
<!--
				<div class="input-group-buscador-mini">
					<input id="search-input" type="search" name="q" value="" placeholder="Buscar en Atlas..." aria-label="Buscar en Atlas...">
					<span class="input-group-btn-buscador">
						<button id="btn-buscador" type="submit" value="search"><span class="bipoicon icon-lupa hidden-xs"></span>Buscar</button>
					</span>
				</div>
				-->
				<h1 class="titulo" th:text="${tema.nombre}"></h1>
				<div class="filtro">
						<ul id="filtros-tabla">
							<li><label class="texto-variable font-size-m" for="selectZBS">Zona básica de salud:</label> 
								<select class="udTerritorial texto-variable font-size-m"  id="selectZBS" onchange="loadZBSTable()">
								</select>
							</li>
							
							<li><span class="texto-variable font-size-m">Sexo:</span> 
								<select  class="dimMapa texto-variable font-size-m" id="selectSexo" onchange="loadZBSTable()">
									<option selected="selected" value="1">Hombres / Ambos sexos</option>
									<option value="2">Mujeres / Ambos sexos</option>
								</select>
							</li>
							
						</ul>
				</div>
				
				<div id="tableContainer">
				<div id="leyendaZBS" class="texto-variable font-size-m"><span>+ favorable</span><img th:src="@{/resources/themes/atlas_saludp/images/leyenda_tabla_zbs.png}"></img><span>- favorable</span></div>
						<table id="dataTable" class="table texto-variable font-size-m" data-filtering="true"
							data-paging="false" data-sorting="true" >

				</table>
						</div>
			</div>
				 <a id="scrollTop" href="#top" title="Ir al principio de la página"><i class="fa fa-angle-double-up fa-3x"></i></a>


		</div>
	</div>
	<form target="_blank" id="printForm" name="printForm" action="" method="post">
		<input type="hidden" name="xslt" value="" /> <input type="hidden" name="xml" value="" />
	</form>
	<script src="/lib/jquery/jquery_1.12.4.min.js"></script>
	<script src="/lib/jquery.dotdotdot/jquery.dotdotdot.min.js"></script>
	<script src="/lib/jquery/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
	
	<script src="/lib/jquery/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="/lib/jquery/jquery.ui.touch-punch.min.js"></script>
	<script src="/lib/footable/js/footable.min.js"></script>
	<script type="text/javascript" src="/lib/IDEAragon/js/tools.js"></script>
	<script src="resources/dataCache/infoDonde.js" th:src="@{/resources/dataCache/infoDonde.js}"></script>
	<script src="resources/js/common.js" th:src="@{/resources/js/common.js}"></script>
	<script src="resources/js/table.js" th:src="@{/resources/js/table.js}"></script>
	<script src="resources/js/atlas.js" th:src="@{/resources/js/atlas.js}"></script>
	<script src="resources/js/pring.js" th:src="@{/resources/js/print.js}"></script>
	<script src="resources/js/zbs.js" th:src="@{/resources/js/zbs.js}"></script>
	<script th:inline="javascript">
				var contextPath = /*[[${contextPath}]]*/;
	</script>
	<script>
		initComboZBS();
		initTableZBS();
		$("#printTool").removeClass("oculto");
		$(".unit-selector").removeClass("oculto");
		$(document).ready(function() {
			initScroll();
		});
	</script>
</body>
</html>
