<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>
	<title>IDEAragon &#62; Aplicaciones &#62; Atlas de Aragón</title>
	<link rel="shortcut icon" href="/lib/IDEAragon/themes/default/images/i/favicon.ico"	type="image/x-icon" ></link>
	<meta name="dcterms.creator" content="GOBIERNO DE ARAGON" ></meta>
	<meta name="geo.placename" content="Zaragoza, Spain" ></meta>
	<meta name="keywords" content="Atlas, Aragón, Geografía, Cartografía, Mapa, Documento, Informativo, Territorial, Parque, Paisaje, Dominios, Sendero, Turismo, Riesgo, Susceptibilidad, Colapso, Deslizamiento, Inundación, Viento, Precipitación, Lluvia, Temperatura, Radiación, Evapotranspiración, Balance, Aridez, Cuenca, Masía, Porcino, Bovino, Ovino, Caprino, Aves, Plataforma, Logística, Polígono, Central, Térmica, Eólica, Camping, Balneario, Refugio, Montaña, Estación, Esquí, Hostal, Alojamiento, Hotel, Albergue, Turismo, Apartamento, Canal, Regadío, Secano, Lonja, Comercio, DOP, VAB, Infantil, Primaria, Secundaria, Bachillerato, Hospital, Lluvia, Insolación, Evaporación, Salario, Pensión, Desempleo, Impuesto, Bien, Inmueble, Ingreso, Gasto, Actividad, Empleo, Paro, Afiliación, Seguridad, Social, Accidente, Trabajo, Dependencia, Contrato, Fianza, Alquiler, Vivienda, Local, Deuda, Viva, Masculinidad, Potencialidad, Reemplazamiento, Sobreenvejecimiento, Vejez, Envejecimiento, Juventud, Agricultura, Ganadería, Medioambiente, Medio, Ambiente, Uso, Suelo, Figura, Urbanismo, Urbana, Rústica, Planeamiento, Directriz, Ordenación, Territorio, Transporte, Región, Sector, Instalación, Sanidad, Educación, Comercio, Salud, Bien, Interés, Centro, Industria, Energía, Mina, Explotación, Agropecuaria, Red, Río, Hidrografía, Embalse, Pantano, Lago, Laguna, Árbol, Singular, Entidad, Núcleo, Demografía, Nacimiento, Defunción, Natalidad, Mortalidad, Juventud, Feminidad, Extranjero, Inmigración, Emigración, Paro, Residencia, Población, Habitante, Municipio, Comarca, Provincia, Migración, Saldo, Forestal, CLC, Corine, Land, Cover, Justicia, Religión, Diocésis, Archidiócesis, Caza, Pesca, Vía, Pecuaria, Especie, Amenazada, Humedal, LIC, LIG, ZEPA, Parque, Nacional, Natural, Clima, Climatología, Ebro, Pirineos, Sistema, Ibérico, Carretera, Ferrocarril, BIC, Yacimiento, Arqueología, Patrimonio, Cultura, Estación, Aeropuerto, Descarga, Visualización, Incendio, Límite, Actividad, Económica, Equipamiento, Pendiente, Orientación, Sismicidad, Fallas, Radiación, Altitud, OCAS, Isócrona, Infantil, Primaria, Secundaria, Bachillerato, Hospital, Infraestructura, Dato, Espacial, IDE" ></meta>
	<meta name="dcterms.title" content="Atlas de IDEAragon: Infraestructura de Datos Espaciales de Aragon" ></meta>
	<meta name="description" content="Atlas de IDEAragon: Infraestructura de Datos Espaciales de Aragon" ></meta>
	<meta name="dcterms.extent" content="global" ></meta>
	<meta name="dcterms.type" content="Document" ></meta>
	<meta name="robots" content="all" />
	<meta name="revisit-after" content="3 days" ></meta>
	<meta name="designer" content="Idearium Consultores SL - www.idearium-consultores.com" ></meta>
	<meta name="author" content="© Gobierno de Arag&oacute;n - www.aragon.es" ></meta>

	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

	<link rel="stylesheet" href="/lib/font-awesome/fontawesome-free-5.9.0-web/css/all.css"></link>

	<link rel="stylesheet" type="text/css" href="/portal/styles/idearagon.css"></link>

	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/app.css}" href="resources/themes/default/app.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/tema.css}" href="resources/themes/default/tema.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/header.css}" href="resources/themes/default/header.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/footer.css}" href="resources/themes/default/footer.css"></link>

	<link rel="stylesheet" href="/lib/jquery/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css"></link>

	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107379398-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-107379398-4');
	</script>

	<link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="mainPage" data-role="page">
		<div th:replace="index :: header" >
		</div>

		<div id="content" th:fragment="temaFragment">
			<div class="centro_cuadro">
				<div class="tema-destacado">
					<i th:if="${tema.tipo_icono=='fa'}" th:class="${tema.icono}">
					</i>
					<i th:if="${tema.tipo_icono!='fa'}">
						<img style="height: 1em;width: auto;" th:src="${tema.icono}">
					</i>
				</div>
<!--
				<div class="input-group-buscador-mini">
					<input id="search-input" type="search" name="q" value="" placeholder="Buscar en Atlas..." aria-label="Buscar en Atlas...">
					<span class="input-group-btn-buscador">
						<button id="btn-buscador" type="submit" value="search"><span class="bipoicon icon-lupa hidden-xs"></span>Buscar</button>
					</span>
				</div>
				-->
				<h1 class="titulo" th:text="${tema.nombre}"></h1>
				<div class="centro_cuadro_int intro">
					<!--
					<p id="temaResumen" th:utext="${tema.resumen}">
					</p>
					-->
				</div>

				<p class="clear texto">Elija el contenido que desee consultar:</p>
				<ul class="list-unstyled" id="content">
					<li class="selector-subtema">
						<ul id="lista-subtemas" class="list-unstyled lista-subtema">
							<li class="nav-item" th:each="subtema : ${tema.subtemas}" th:id="'selector-subtema-'+${subtema.id}">
								<a class="item-subtema-ver-mas" th:href="'javascript:showSubtema('+${subtema.id}+');'" title="Ver más"><i class="fas fa-angle-right fa-2x"></i></a>
								<a class="item-subtema-texto" th:href="'javascript:showSubtema('+${subtema.id}+');'" th:title="${subtema.titulo}" th:text="${subtema.titulo}">Densidad de población</a>
							</li>
						</ul>
					</li>

					<li class="subtema-items" th:each="subtema : ${tema.subtemas}" th:id="'subtema-'+${subtema.id}">
						<ul class="list-unstyled item-atlas" th:each="item : ${subtema.items}">
							<li class="item-item-titulo">
								<a class="item-subtema-ver-mas" th:href="${contextPath}+'/'+${atlas.etiqueta}+'/info/'+${tema.etiqueta}+'/'+${subtema.etiqueta}+'/'+${item.item.etiqueta}" rel="external" href="#" title="Ver más"><i class="fas fa-angle-right fa-2x"></i></a>
								<a class="item-item-titulo" th:href="${contextPath}+'/'+${atlas.etiqueta}+'/info/'+${tema.etiqueta}+'/'+${subtema.etiqueta}+'/'+${item.item.etiqueta}" rel="external" href="/atlas/Aragon/item/521" th:title="${item.item.titulo}" th:text="${item.item.titulo}">Densidad de población</a>
							</li>
						</ul>

						<div data-role="popup"  th:id="'popup-'+${subtema.id}" data-overlay-theme="b"
							 style="background: white;">
							<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
							<div role="main" class="ui-content">
								<ul class="list-unstyled item-atlas" th:each="item : ${subtema.items}">
									<li class="item-item-titulo">
										<a class="item-subtema-ver-mas" th:href="${contextPath}+'/'+${atlas.etiqueta}+'/info/'+${tema.etiqueta}+'/'+${subtema.etiqueta}+'/'+${item.item.etiqueta}" rel="external" href="#" title="Ver más"><i class="fas fa-angle-right fa-2x"></i></a>
										<a class="item-item-titulo" th:href="${contextPath}+'/'+${atlas.etiqueta}+'/info/'+${tema.etiqueta}+'/'+${subtema.etiqueta}+'/'+${item.item.etiqueta}" rel="external" href="/atlas/Aragon/item/521" th:title="${item.item.titulo}" th:text="${item.item.titulo}">Densidad de población</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
				 <a id="scrollTop" href="#top" title="Ir al principio de la página"><i class="fa fa-angle-double-up fa-3x"></i></a>
			<script th:inline="javascript">

	var subtema_id = /*[[${subtema_id}]]*/;
</script>
			<script>
			
					function showSubtema(idx) {
						if(window.innerWidth > 750){
							$(".subtema-items").removeClass("subtema-active-items");
							$("#subtema-" + idx).addClass("subtema-active-items");
							$(".nav-item").removeClass("nav-item-active");
							$("#selector-subtema-" + idx).addClass("nav-item-active");
						}else{
							$("#popup-"+idx).popup( "open", {positionTo: 'window'});
						}

					}

					if (subtema_id){
						showSubtema(subtema_id);
					}
					
			</script>
		</div>
	</div>

	<script src="/lib/jquery/jquery_1.12.4.min.js"></script>
	<script src="/lib/jquery.dotdotdot/jquery.dotdotdot.min.js"></script>
	<script src="/lib/jquery/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
	
	<script src="/lib/jquery/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="/lib/jquery/jquery.ui.touch-punch.min.js"></script>
	<script src="resources/js/common.js" th:src="@{/resources/js/common.js}"></script>
	<script>
		if (subtema_id){
			showSubtema(subtema_id);
		}
		$(document).ready(function() {
			initScroll();
		});
	</script>
</body>
</html>
