.ui-bar h3{
    font-weight: bold;
    font-size: 16px;
}

.ui-corner-all {
    margin-top: 15px;
    margin-bottom: 15px;
}

#unidades .itemEditable, #datasource .itemEditable {
    display: inline-block;
margin-left: 5px;
    min-width: 200px;
    width: 30%;
    vertical-align: top;
}
 .ui-popup-container {
    z-index: 5000;
   }
   
   #icono .itemEditable {
    display: inline-block;
margin-left: 5px;
    min-width: 200px;
    width: 40%;
    vertical-align: top;
}

#icono i,#icono img {
    margin-left: 10px;
    display: inline-block;
    	font-size: 55pt;
}
#icono img {
    height: 1em;
    width: auto;
}
#icono i {    

    color: #006BB5;

}

.showInPaste{
	color: red;
    font-size: large;
}

a.superAdmin{
	background: orange !important;
}

.superAdmin textArea{
	min-height:50px;
	    margin-left: 15px;
    margin-right: 50px;
    width: 98%;

        max-height: 100px;
    overflow: auto !important;

}

.fooicon-stats:before {
    content: "\f0c5" !important;
}

#loginContainer{
	max-width:500px;
	    margin: auto;
}

#toolbar-tools .usuario {
	    font-weight: normal;
	font-family: "Open Sans",sans-serif !important;
    color: white;
    float: right;
    font-size: 12px !important;
    padding-right: 5px;
    padding-top: 5px;
}

#flipswitchWrapper .ui-flipswitch-active{
        background: #e9e9e9;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}

.ui-popup-container.ui-popup-active{
	z-index:9999;
}