#chartPanel.reducedChart {
    height: 350px !important;
}
#chartBrokenPanel{
	height:100px;
}
#chartPanel {
    height:400px;
    max-height: 90vh !important;
}

#chartPanel, .brokenPanel {
    margin: auto;
    font-family: Helvetica,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Lucida Sans Regular,Verdana,sans-serif !important;
}

.brokenPanel .jqplot-xaxis {
    color: white;
    z-index: 0;
}
.jqplot-xaxis {
     z-index: 1000; 
}

.jqplot-axis {
    font-size: 1em;
}

.jqplot-yaxis {
    width: 50px !important;
}

.jqplot-cursor-tooltip{
	display:none !important;
}

#chartLegend {
    display: none;
    border: 2px solid #999999;
    position: relative;
    top: 10px;
    padding: 5px;
}

#chartLegendContainer {
    width: 100%;
    height: 40px;
    text-align: center;
}



.chartContainerGraphs {
	padding-top: 20px;
	clear:both;
}


#breakChartContainer .ui-input-text {
    display: none;
}

#breakChartContainer .ui-checkbox{
    top: 22px;
}

.footable-pagination-wrapper .label{
	display:none;
}