#header {
	background: white;
	text-align: center;
	border: none;
	/*float: left;
	position: fixed;*/
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;

}

.item-atlas #header {
	position: fixed;
}

.header-icon i {
	color: #FFF;
}
.header-icon {
	float: right;
	padding-right: 8px;
}

#logo {
    padding-left: 13px;
    padding-top: 16px;
    float: left;
    margin: 0;
    width: auto;
    height: auto;
}

#header_text {
    padding-top: 19px;
}

#logoSitar {
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

#toolbar {
    width: 100%;
    background: #0079b1;
    color: white;
    height: 24px;
    text-align: center;
}

.toolbarImage {
    float: right;
    padding-right: 7px;
    table-layout: fixed;
    padding-top: 2px;
}

#breadCrumb {
    float: left;
    color: white;
    padding-left: 10px;
    margin: 0;
    padding-top: 6px;
	font-size: 8pt;
	text-shadow: none;
}

#breadCrumb  .breadCrumbEnlace {
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

#appLabel {
    padding-left: 5px;
}

@media screen and (max-width:500px) {
	#header_text {
		padding-top: 9px;
	}
	#logo img, #header_text {
		width: 100px;
	}
	#logo {
		padding-left: 0px;
		padding-top: 5px;
	}
	#logoSitar {
		padding-right: 0px;
		padding-top: 0px;
	}
	#logoSitar img {
		width: 100px;
		height: auto;
	}
	#headerLogos {
		height: 40px !important;
	}
}
