

 #btnGoTo {
	top: 6.5em;
    left: 0.5em;
}
.ol-touch #btnGoTo {
	top: 8em;
   
}
#btnToc {
	right: 0.5em;
	top: 45px;
}

#toc {
	list-style: none;
	padding: 0;
	text-align: left;
    max-height: 65vh;
    max-width: 90vw;
	overflow: auto;
}
#btnToc.expanded {
    background: white;
        z-index: 400;
}

#toc input{
	margin-right: 5px;
}
#map {
	clear:both;
    min-height: 600px;
    height: 70vh;
}

.ol-zoom-extent button {
    background: white url(/lib/IDEAragon/themes/default/images/fullExtentRO.png) center center/cover no-repeat !important;
}

#infoTooltip {
	max-width: 150px;
	background-color: #0079b1;
	color: white;
	opacity: 0.9;
	font-size: 8pt;
	font-family: sans-serif;
	margin: 3px;
	border: 2px solid white;
	border-radius: 10px 10px 10px 0;
	padding: 2px 5px 2px 5px;
}

#northIcon {
	transform: rotate(315deg);
	margin-left: 2px;
	margin-top: 1px;
}

#btnToc button{
    float: right;
}

.ol-overviewmap {
    bottom: 40px;
}

.ol-control button, .ol-control button:hover{
    opacity: 0.9;
    background-color: #0079b1;
    cursor: pointer;
}
.ol-control{
	font-size:12pt;
}

#goTo .ui-helper-hidden-accessible{
	display:none;
}    
@media (max-width: 510px) {
#btnToc.expanded {
    width:100%;
}
}

.ol-control .ui-autocomplete a {
    color: black;
}

.ol-control .ui-autocomplete {
    font-size: 1em;
}

#toc .texto-variable {
    max-width: 300px;
}