.selector-subtema {
	clear: both;
	width: auto;
	float: left;
}

.lista-subtema {
	padding-top: 20px;
	padding-left: 0;
	width: 280px;
}

.nav-item-active {
	background-color: #006BB5;
	text-shadow: 0 1px 0 #333;
}

.lista-subtema > .nav-item.nav-item-active > a {
	color: #fff;
	font-weight: 700;
}

.lista-subtema > .nav-item.nav-item-active > a:hover {
	color: #fff !important;
}

.nav-item {
	font-size: 12pt;
	padding: 10px 25px;
	width: 100%;
	min-height: 28px;
	font-family: Open Sans;
}

.item-subtema-texto {
/*	max-width: 250px;*/
}

.item-subtema-ver-mas {
	float: right;
}

.lista-subtema > .nav-item-active > .item-subtema-ver-mas i {
	color: #fff;
}

.lista-subtema > .nav-item > a:hover {
	color: black !important;
}

.lista-subtema > .nav-item > a {
	color: #006BB5;
	text-decoration: none;
	font-size: 12pt;
	font-weight: normal;
	transition: 0.6s;
}

.subtema-active-items {
	display: block !important;
}

.subtema-items {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
	max-width: 800px;
	display: none;
}

.item-item-titulo {
	font-size: 12pt;
	padding-right: 8px;
	font-family: Open Sans;
	clear: both;
}

.item-item-abstract {
	clear: both;
}

.item-atlas {
	padding: 16px 0px;
}

@media (max-width: 720px) {
	h1 {
		clear: both;
	}
}
@media (min-width: 1150px) and (max-width:1250px) {
	.subtema-items {
		max-width: 700px;
	}
}
@media (min-width: 970px) and (max-width:1149px) {
	.subtema-items {
		max-width: 600px;
	}
}
@media (min-width: 880px) and (max-width:969px) {
	.subtema-items {
		max-width: 500px;
	}
}
@media (max-width: 879px) {
	.subtema-items {
		max-width: 400px;
	}
}
@media (max-width: 1050px) {
	.lista-subtema {
		width: 200px;
	}
}
@media (max-width: 760px) {
	.nav-item {
		padding: 10px 10px;
	}
	.lista-subtema {
		width: 100%;
		margin-left: 0 !important;
	}
	.subtema-items {
		margin-left: 0;
		max-width: 100%;
	}
	.selector-subtema {
		width: 90%;
	}
}
